/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
}

h1, h3 {
	font-weight: 500;
}

h1 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 36px;
	margin: 0 0 20px;
}

h2 {
	font-size: 24px;
	margin: 0 0 20px;
}

h3 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 30px;
	margin-: 0 0 34px;
}

p {
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 32px;
}

ul {
	margin: 0;
}

a, i {
	color: #000;
}

span {
	display: block;
}

.container {
	width: 85%;
}

.section {
	padding: 5em 0;
}

.scroll-up {
	display: none;
	position: fixed;
	z-index: 1;
	bottom: 2rem;
	right: 1.5%;
	text-align: right;
	margin: 0 1em .7em 0;
}

.scroll-up a:hover,
.scroll-up a:focus,
.scroll-up a:active {
	color: #fdd835;
}

.scroll-down {
	color: #424242;
}

.scroll-down:hover,
.scroll-down:focus,
.scroll-down:active {
	color: #fff;
}

/* nav */
nav {
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 0 0 0;
}
nav .brand-logo, nav .brand-logo img {
	height: 45px;
	bottom: 7px;
}
nav ul a,
.sidenav a {
	font-size: 16px !important;
	color: #6200ea !important;
}

nav i { color: #6200ea; }

/* hero */

/* projects */

/* about */

/* testimonials */

/* footer */

/* icons */


/* large screens */
@media only screen and (max-width: 1200px) {
}

/* medium screen */
@media only screen and (max-width: 992px) {
}

/* small screen */
@media only screen and (max-width: 600px) {
}