/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@font-face {
	font-family: KG;
	src: url(/css/kg-begin-again/KGBeginAgain.ttf);
	font-weight: 500;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	margin: auto;
	font-weight: 400;
	color: #1F1E30;
}

section.section:not(.hero) { 
	padding: 4rem 0;
	box-shadow: 0 4px 32px -14px rgba(64, 87, 109, .3), 0 0 0 0; 
}

h1, .h1 {
	font-size: 74px;
	line-height: 1.1;
}

h2, .h2 {
	font-size: 45px;
	line-height: 1.1;
}

h3, .h3 {
	font-size: 37px;
	line-height: 1.1;
}

h4, .h4 {
	font-size: 31px;
	line-height: 1.1;
}

h5, .h5 {
	font-size: 26px;
	line-height: 1.1;
}

h5, .h6 {
	font-size: 22px;
	line-height: 1.1;
}

.h3, .h4, .h5 {
	text-transform: uppercase;
}

blockquote { 
	border-left: 5px solid #03256C; 
	margin: 30px 0;
}

ul { padding-left: 20px !important; }

section ul li { list-style-type: disc !important; }

a, i { color: #2541B2; }

a { display: block; }

a:hover, a:focus, a:active,
a:hover i, a:focus i, a:active i,
.activator:hover, .activator:focus, .activator:active {
	color: #1F1E30 !important;
}

a.inline { display: inline-block; }

a.white-only, a.white-only:hover, a.white-only:focus, a.white-only:active {
	color: #FFFFFF !important;
}

a.link:hover, a.link:focus, a.link:active {
	text-decoration: underline;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat { font-size: 18px; }

.btn, .btn-large, .btn-flat {
	border-radius: 10px;
	text-transform: capitalize;
}

.btn-large { margin: 1em 0; }

.btn-large:hover, .btn-large:active, .btn-large:focus {
	color: #FFFFFF !important;
	background-color: #03256C !important;
}

.container { width: 80%; }

.mint { background-color: #ABECCF; }
.alien { background-color: #31E981; }
.persian { background-color: #2541B2; }
.royal { background-color: #03256C; }
.raisin { background-color: #1F1E30; }

.card-panel, .card { 
	border: 1px solid #03256C;
	border-radius: 40px;
}

.scroll-up { display: none; }

/* Nav */
nav { box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 0 0 0; }
nav .brand-logo, nav .brand-logo img {
	height: 45px;
	bottom: 7px;
}
nav ul a, .side-nav a { 
	color: #1F1E30 !important; 
	font-size: 16px;
}
.side-nav { padding-top: 1em; }
.side-nav li > a { font-size: 18px; }

/* Hero */
.hero h1 { 
	font-family: KG; 
	display: block;
} 

/* Services */
.services img { width: 20%; }

/* Testimonials */
.testimonials img { 
	width: 15%; 
	display: inline-block;
	margin-right: 20px;
}

/* Resources */
.resources a { display: inline; }

/* Footer */
.page-footer { 
	color: #1F1E30 !important;
	background-color: #ABECCF; 
}
.page-footer span { display: block; }

/******  RESPONSIVE STYLES  ******/
/* large+ screens */
@media only screen and (min-width: 1441px) { 

	.ss { 
		background-image: none;
		height: auto;
	}
	.ss .row .col.offset-l5 {
        margin-left: 0;
        width: 100%;
    }
}

/* large screens */
@media only screen and (max-width: 1200px) { 

	.ss { 
		height: 445px;
	}
}

/* medium screens */
@media only screen and (max-width: 992px) {

	section.section { padding: 2rem 0 !important; }
	h1, h2 { font-size: 37px; }
	h3, h4 { font-size: 31px; }
	.container { width: 80%; }
	.center-align { text-align: left; }
	.back-to-top { text-align: center; }
	.hero { background-image: none; }
	.hero .banner-img { 
		border: 2px solid #33e981;
		border-radius: 20px; 
	}
	.ss { 
		background-image: none;
		height: auto;
	}
}

/* small screens */
@media only screen and (max-width: 600px) {

	h1, h2 { font-size: 31px; }
	h3, h4 { font-size: 26px; }
	.container { width: 90%; }
	.back-to-top { margin-top: 20px; }
}

@media only screen and (max-width: 480px) {  }