/*--------------*/
/* Pure Utility */
/*--------------*/

html, button, input, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Lato', sans-serif;
  /*font not renderin*/
  letter-spacing: .08em;
  color: rgb(55, 19, 150);
}

/*-----------------*/
/* Default Styling */
/*-----------------*/

@font-face {
  font-family: Sunbreath;
  src: url(sunbreath-font/sunbreath.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: rgba(240, 248, 255, 0.45); /*out later*/
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2px;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

div, p, form, span {
  font-family: 'Lato', sans-serif;
}

a {
  color: rgb(99, 52, 227);
  text-decoration: none;
}

a:hover {
  color: rgb(55, 19, 150);
}

.pure-img {
  border: 3px solid rgb(55, 19, 150);
  border-radius: 5px;
}

button.pure-button, a.pure-button {
  background-color: rgb(55, 19, 150);
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  border-radius: 5px;
}

button.pure-button:hover, a.pure-button:hover {
  background-color: rgb(70, 160, 175);
  color: rgb(55, 19, 150);
}

button.button-xsmall, a.button-xsmall {
  font-size: 65%;
}

a.button-small {
  font-size: 80%;
  letter-spacing: .05em;
  margin-bottom: 5px;
}

i.fa-times {
  color: rgb(55, 19, 150);
}

.margin-top {
  margin-top: .9em;
}

.flexed {
  display: inline-flex;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.padded {
  padding: .9em;
}

.padded-l {
  padding: .9em .9em .9em 1.8em;
}

.padded-close {
  padding-left: .9em;
}

.card {
  background-color: rgba(146, 146, 146, 0.75);
  border-radius: 5px;
  padding: .9em;
}

nav, #footer {
  height: 2em;
  position: absolute;
  justify-content: space-between;
  background-color: rgba(240, 248, 255, 0.45);
  font-family: 'Advent Pro', sans-serif;
  font-weight: bolder;
  font-size: 1.1em;
  text-transform: uppercase;
}

#portfolio, #about, #projects, #resume {
  display: none;
  margin: 4em auto;
  width: 90%;
}

/*-----------------*/
/* Navigation Menu */
/*-----------------*/

nav {
  top: 0;
  align-items: center;
}

#home-link, #portfolio-link, #about-link {
  color: rgb(99, 52, 227);
}

#home-link:hover, #portfolio-link:hover, #about-link:hover {
  color: rgb(70, 160, 175);
  font-size: 1.1em;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
}

/*--------------*/
/* Home Section */
/*--------------*/

#home {
  display: none;
  margin: 5em 0 3em 3em;
  width: 60%;
  background-color: rgba(184, 184, 184, 0.9);
  color: rgb(99, 52, 227);
  font-size: 1.2em;
  border-radius: 5px;
  line-height: 1.6em;
}

#home span {
  font-family: Sunbreath;
  font-size: 2.3em;
  letter-spacing: .06em;
}

#home p {
  padding: 1em;
}

/*-------------------*/
/* Portfolio Section */
/*-------------------*/

.portfolio-project {
  background-image: url('http://www.transparenttextures.com/patterns/asfalt-light.png');
  background-size: auto;
  background-color: rgba(55, 19, 150, 0.95);
  color: rgb(200, 200, 200);
  border-radius: 5px;
  margin: 0 .5em .5em .5em;
  letter-spacing: .07em;
  font-size: .8em;
  min-height: 90%;
}

.portfolio-project-titles {
  text-transform: uppercase;
}

.view-project {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5em 0 .5em 0;
}

#portfolio-project1:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/mystery-word.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project2:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/hair-xpo.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project3:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/sports-guide.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project4:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/betsee.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project5:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/brrrr.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project6:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/bl.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project7:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/inara1.jpg') no-repeat center;
  background-size: cover;
}

#portfolio-project8:hover {
  color: rgba(0, 0, 0, 0);
  background: url('../images/projects/gal2.jpg') no-repeat center;
  background-size: cover;
}

/*---------------*/
/* About Section */
/*---------------*/

#contact-me {
  margin-right: 1em;
}

#about-me p {
  line-height: 1.2em;
}

/*---------------*/
/* Projects Show */
/*---------------*/

.project {
  display: none;
}

.project img {
  -webkit-box-shadow: 7px 7px 5px -3px rgba(89,67,89,0.77);
  -moz-box-shadow: 7px 7px 5px -3px rgba(89,67,89,0.77);
  box-shadow: 7px 7px 5px -3px rgba(89,67,89,0.77);
}

/*-------------*/
/* Resume Show */
/*-------------*/

/*--------*/
/* Footer */
/*--------*/

#footer {
  bottom: 0;
}

#footer > a , i.footer-icons{
  color: rgb(99, 52, 227);
}

a.footer-icons {
  padding: .5em .5em .5em 0;
}

a.footer-icons:hover {
  background-color: transparent;
}

i.footer-icons:hover {
  color: rgb(70, 160, 175);
}

/*-----------------*/
/*  Media Queries  */
/*-----------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    font-size: 80%;
  }
  nav {
    height: 4em;
    justify-content: center;
  }
  #home, #portfolio, #about, #projects, #resume {
    display: none;
    margin: 5.2em auto 2em;
    width: 100%;
  }
  #about-me {
    margin-top: 1em;
  }
  #contact-me {
    margin-right: 0;
  }
  #footer {
    font-size: 80%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
  body {
    font-size: 95%;
  }
  nav {
    height: 4em;
    justify-content: center;
  }
  #home, #portfolio, #about, #projects, #resume {
    display: none;
    margin: 5.2em auto 1.5em;
    width: 100%;
  }
  #about-me {
    margin-top: 1em;
  }
  #contact-me {
    margin-right: 0;
  }
  #footer {
    font-size: 90%;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
/* Styles */
  body {
    font-size: 80%;
  }
  nav {
    height: 4em;
    justify-content: center;
  }
  #home, #portfolio, #about, #projects, #resume {
    display: none;
    margin: 5.2em auto 2em;
    width: 100%;
  }
  #about-me {
    margin-top: 1em;
  }
  #contact-me {
    margin-right: 0;
  }
  #footer {
    font-size: 80%;
  }
}
